* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(175, 175, 175);
    /* background: black; */
}

input {
    position: absolute;
    top: 50px;
    left: 10px;
}

#test {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 50px;
    width: 50px;
    background: blue;
    z-index: 10;
}
